# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/
dist/
*.egg-info/
.python-version
uv.lock

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Sphinx documentation
docs/_build/
docs/reference/

# Temp linters
flycheck_*

# dev
.env
.venv/
sc-data-all.db

# IDE
.vscode/
.idea/

# Test artifacts
*.txt
*.json
*.sql
*.log

# Documentation
site/

# MacOS
.DS_Store