name: Publish mkdocs
on:
  push:
    branches:
      - main

permissions:
  contents: write

# https://squidfunk.github.io/mkdocs-material/publishing-your-site/#with-github-actions
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - name: Install Oxygen dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libjpeg-dev zlib1g-dev
      - name: Install local pkg
        run: pip install .[all]
      - name: Build mkdocs
        run: |
          rm -rf src/sc_crawler/alembic
          mkdocs gh-deploy --force
